@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* General CSS used throught website */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    padding-right: 0;
    padding-left: 0;
}

.font-family {
    font-family: "lato", sans-serif;
}

/*.body-style css used to center webite on larger screen sizes*/
.body-style {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

/*Navigation*/
#navbar {
    background-color: #130a02;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: medium;
    color: #0ad6ff;
    border-style: solid;
    border-color: #0ad6ff;


}

/* Header  */

.ramsCyclingClubLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header-hero-background-image {
    background-color: #130a02;
}

.header-container {
    padding-top: 50px;
}